# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=shibasito_db

# MySQL
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=reniec_db

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Grafana
GRAFANA_USER=admin
GRAFANA_PASS=admin
