# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Project Specific Data & Artifacts
model.pkl
downloaded_model.pkl
captured_alerts/
datasets/
*.log
